.audio-player {
  font-family: sans-serif;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
}

.audio-header h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.audio-header p {
  margin: 2px 0 10px 0;
  color: #5f6c7b;
  font-size: 14px;
}

.waveform {
  background: #e9eaec;
  height: 80px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.audio-icons{
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-size{
  width: 20px;
  height: 20px;
}





