/* AudioPlayer.css */
.audio-player {
  font-family: sans-serif;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 50px;
  /* max-width: 800px; */
  background-color: #fff;
}

.audio-header h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.audio-header p {
  margin: 2px 0 10px 0;
  color: #5f6c7b;
  font-size: 14px;
}

.waveform {
  background: #e9eaec;
  height: 80px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.play-button {
  background: none;
  border: 2px solid #2684ff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
}

.timeline {
  flex: 1;
  background: #f4f4f4;
  height: 6px;
  border-radius: 4px;
  position: relative;
}

.progress {
  background: #2684ff;
  height: 100%;
  width: 10%;
  border-radius: 4px;
}

.volume-control {
  display: flex;
  align-items: center;
  gap: 5px;
}

.volume-slider {
  width: 80px;
  accent-color: #2684ff;
}
